.portfolio {
  max-width: calc(100% - 140px);
  margin: 0 auto;
  padding: 100px 0 125px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0;
  padding-bottom: 50px;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin: 0;
  padding: 0;
}

.portfolio__item {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  list-style: none;
  border-bottom: 1px solid #e8e8e8;
  margin: 0;
  padding: 0 0 19px 0;
}

.portfolio__item:last-child {
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.portfolio__link:after {
  content: "\1F86D";
}

.portfolio__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 991px) {
  .portfolio {
    max-width: calc(100% - 100px);
    padding: 90px 0;
  }

  .portfolio__item {
    font-size: 28px;
    padding-bottom: 17px;
    border-bottom: 1px solid #e6e6e6;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    max-width: calc(100% - 28px);
    padding: 70px 0;
  }

  .portfolio__title {
    font-size: 14px;
    padding-bottom: 40px;
  }

  .portfolio__item {
    font-size: 18px;
    line-height: 28px;
    padding: 0 0 18px 0;
  }
}
