.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 41px 0 0;
 }

 .checkbox__input {
    position: relative;
    width: 36px;
    height: 20px;
    appearance: none;
    border-radius: 20px;
    background: #ebebeb;
    cursor: pointer;
 }

 .checkbox__input::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    left: 5.56%;
    right: 50%;
    top: 10%;
    bottom: 10%;
    border-radius: 50%;
    background: #f5f5f5;
    transition: .2s ease;
 }

 .checkbox__input:checked {
    background: #2BE080;
 }

 .checkbox__input:checked::after {
    left: 50%;
    right: 5.56%;
    transition: .2s ease;
 }

 .checkbox__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: 15px;
 }